/* основний колір заголовків 2-3 рівня #212121;  */
/* основний колір тексту  #757575;*/
/* акцент #2196f3; */
:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --main-tittle-text-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
  background: #e5e5e5;
}

ul {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* логотип */
.logo {
  font-family: ‘Raleway’, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.logo-accent {
  color: #000000;
}
.header {
  background: #ffffff;
}

/* меню сторінки */
.site-nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/*------------------ телефон,ел.пошта ------------*/
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/*----------- Перша секція-service---------*/
.service {
  background: #2f303a;
}
.service-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36x;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tittle-text-color);
}
.service-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-tittle-text-color);
  background: #2196f3;
  cursor: pointer;
}
.service-btn:hover,
.service-btn:focus {
  background: #188ce8;
}
/*---------------Переваги-advantage------------------ */
.advantage {
}

.advantage-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-text-color);
}
.advantage-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*------------------------work------------------------- */
.work {
}
.work-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}
/*-------------------Команда-team------------------ */
.team {
  background: #f5f4fa;
}
.team-top-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  background: #ffffff;
}
.team-text {
  font-size: 16px;
  line-height: 1.19x;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: #ffffff;
}
/*----------------------footer--------------------- */
.footer {
  background: #2f303a;
}
.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-tittle-text-color);
}
.footer-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
/*----------------------Сторінка 2 - gallery--------------------- */
.gallery-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  cursor: pointer;
}
.gallery-btn:hover,
.gallery-btn:focus {
  background: #2196f3;
}
.gallery-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-decoration: none;
  background: #ffffff;
}
.gallery-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-decoration: none;
  background: #ffffff;
}
